@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark .dark\:neumorphism-shadow {
  box-shadow: 6px 6px 17px #0c0c0c, -6px -6px 17px #232323;
}
.dark .dark\:neumorphism-pressed {
  box-shadow: inset 2px 2px 4px #0f0f0f, inset -2px -2px 4px #1f1f1f;
}

.signature {
  font-family: Lemonada, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

/* .neumorphism-shadow {
  box-shadow: 6px 6px 17px #7e7e7e, -6px -6px 17px #f0f0f0;
}
.neumorphism-pressed {
  box-shadow: inset 2px 2px 4px #dadada, inset -2px -2px 4px #e9e9e9;
} */

/* .neumorphism-pressed {
  box-shadow: inset 1px 1px 3px #0f0f0f, inset -1px -1px 3px #1f1f1f;
} */

.admonition {
  font-style: normal;
}

.admonition > p::before,
.admonition > p::after {
  content: none;
}

.admonition-title {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  color: ;
}
.admonition-title::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  content: "i";
  font-style: normal;
  /* font-size: 1.5em; */
  margin-right: 12px;

  font-family: "Lucida Sans", "Trebuchet MS", "Times New Roman";
  border-radius: 999999px;
  width: 30px;
  height: 30px;

  border: rgb(96 165 250/0.7) 2px solid;
}
/* blue 96 165 250 */
